{%include_relative _includes/template/init-variables.html%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/lightbox.min.css">
<link rel="stylesheet" type="text/css" href="css/jqcloud.css" />

<script type="text/javascript" src="js/jqcloud-1.0.4.min.js"></script>
<script type="text/javascript" src="highslide/highslide-full.js"></script>
<script type="text/javascript" src="js/headroom.min.js"></script>
<link rel="stylesheet" type="text/css" href="highslide/highslide.css" />
<script type="text/javascript">
        hs.graphicsDir = 'highslide/graphics/';
        hs.outlineType = 'rounded-white';
        hs.wrapperClassName = 'draggable-header';
        hs.showCredits = false;
</script>
<title>{{ site.data.locales.title.[page-language] }} - {{ site.data.locales.[name-base].[page-language] }}</title>