{% if site.data.picture-sliders.[name-base] %}
{% assign slider = site.data.picture-sliders.[name-base] %}
{% assign dir = name-base %}

<style>
  .carousel-inner>.item>img, .carousel-inner>.item>a>img { width: 100% }
  #carousel-main {}
</style>

<div id="carousel-main" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {%for file in slider.files %}
            <li data-target="#carousel-main" data-slide-to="{{forloop.index0}}" 
            	{%if forloop.first == true %} class="active" {%endif%}></li>
        {%endfor%}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {%for file in slider.files%}
      
            <div class="item {%if forloop.first == true%}active{%endif%}">
              <img src="images/{{dir}}/{{file.name}}.jpg" alt="...">
            </div>
        {%endfor%}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
