<div class="chiara-background chiara-fullheight chiara-background-1" 
     id="chiara-1">
    <div class="container">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <div class="chiara-textcontainer well">
                <h2>{{site.data.locales.contact.[page-language]}} </h2>
                <h3 class="text-right">{{site.data.locales.at_assisi.[page-language]}}</h3>
                <p class="text-right"><a href="http://www.teatrometastasioassisi.it/">TEATRO METASTASIO</a></p>
                <p class="text-right">Piazzetta Verdi 1 - Assisi (PG)</p>
                <p class="text-right">tel 075.815381</p>
                <p class="text-right">cell 389/7828080</p>
                <p class="text-right"><a href="mailto:info@chiaradidio.it">info@chiaradidio.it</a></p>
                <p class="text-right"><br>{{site.data.locales.opened.[page-language]}}</p>
            </div>
        </div>
    </div>
</div>
</div>