<div class="chiara-background chiara-fullheight" id="chiara-script">
    <div class="container">
        <ul class="nav nav-tabs">
            <li ><a href="#chiara-press">{{ site.data.locales.tour.[page-language]}}</a></li>
            <li ><a href="#chiara-disks">{{ site.data.locales.tickets.[page-language]}}</a></li>
        </ul>        
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="chiara-textcontainer well">
                    <h2>{{ site.data.locales.script.[page-language] }}</h2>
                    <p>Carissimi amici,
                    <p>siamo veramente lieti che abbiate scelto di allestire e rappresentare a livello amatoriale le opere teatrali di Carlo Tedeschi.</p>
                    <p>Nel corso degli anni gli spettacoli sono stati messi in scena in vari teatri italiani ed ovunque hanno costituito uno strumento per l'evangelizzazione ed un mezzo di aggregazione a disposizione dei giovani che, anche attraverso questa esperienza, hanno potuto essere educati alla vita, riuniti per uno stesso fine in base alle loro capacità per misurarsi, confrontarsi ed avere la possibilità di esprimere i loro valori cristiani e la loro fede.</p>
                    <p>Per questi motivi gli autori e l'Associazione Dare, cessionarie dei diritti di rappresentazione dell'opera, intendono consentire la rappresentazione delle opere teatrali gratuitamente, limitandosi unicamente a chiedere il costo per l'approntamento del materiale tecnico e le spese di spedizione.</p>
                    <p>Per circostanze non dipendenti dagli autori e dall'Associazione Dare Vi chiediamo di attenervi alla normativa vigente in materia, a richiedere il regolare borderò alla SIAE ed a restituire debitamente compilata la modulistica contenente le disposizioni per rappresentare l'opera "Chiara di Dio" di Carlo Tedeschi.</p>
                    <p>E' disponibile in vendita il DVD al prezzo di €35 ( escluse spese di spedizione)</p>
                    <p>Il DVD contiene :</p>
                    <ul>
                        <li>Copione 
                        <li>Basi audio 
                    </ul>
                    <p>Il pagamento avverrà tramite contrassegno, con spese di spedizione a carico dell'acquirente.
                    <p>Per acquistare il DVD è necessario scaricare i moduli di richiesta, compilarli in ogni sua parte ed inviarli al numero di FAX : 0541/985391
                </div>
            </div>
        </div>
    </div>
</div>
