<div class="col-xs-12">
    <div class="well chiara-textcontainer">
        <h3>{{ site.data.locales.tickets.[page-language]}}</h3>
        <table class="table">
            <tr><th style="width:30%"></th>
                <th style="width:20%">{{ site.data.locales.standard_prize.[page-language]}}</th>
                <th style="width:30%">{{ site.data.locales.reduced_1.[page-language]}}</th>
                <th style="width:30%">{{ site.data.locales.reduced_2.[page-language]}}</th>
            </tr>
            <tr><th>{{ site.data.locales.complete_version.[page-language]}}</th>
                <td class="text-center">€ 20,00</td> 
                <td class="text-center">€ 16,00</td> 
                <td class="text-center">€ 12,00</td> 
            </tr>
            <tr><th>{{ site.data.locales.short_version.[page-language]}}</th>
                <td class="text-center">€ 14,00</td> 
                <td class="text-center">-</td> 
                <td class="text-center">€ 10,00</td> 
            </tr>
            <tr><th>{{ site.data.locales.extract.[page-language]}}</th>
                <td  class="text-center" colspan="3">{{ site.data.locales.on_donation.[page-language]}}</td> 
            </tr>
        </table>
        <p>{{ site.data.locales.tickets-par1.[page-language]}}</p>
        <p>{{ site.data.locales.tickets-par2.[page-language]}}</p>
    </div>
</div>
