<div class="col-sm-12">
    <div class="well chiara-textcontainer">
        <h3> {{ site.data.locales.why.[page-language]}} </h3>
        {{ site.data.locales.why-par1.[page-language] | markdownify }}

        <div class="pull-left">
            <img src="images/why/vecchio-1.jpg">
        </div>

        {{ site.data.locales.why-par2.[page-language] | markdownify }}
        <div class="pull-right">
            <img src="images/why/chiara-1.jpg">
        </div>

        {{ site.data.locales.why-par3.[page-language] | markdownify }}
        <div class="pull-left">
            <img src="images/why/saraceni-1.jpg">
        </div>
        {{ site.data.locales.why-par4.[page-language] | markdownify }}
        <div class="clearfix"></div>
    </div>
</div>
