<div class="col-sm-offset-2 col-sm-8">
    <div class="chiara-textcontainer well">
        <h3>
            Comunicato Stampa 2015
        </h3>

        <div class="alert alert-success">
            <p class="lead">“CHIARA DI DIO” TORNA A RIMINI,<br />
                IL MUSICAL SULLA SANTA DI ASSISI, DOPO 6 ANNI,<br />
                AL TEATRO LEO AMICI DAL 1° FEBBRAIO 2015.<br />
                TUTTI I NUMERI DI UN SUCCESSO</p>
        </div>
        <p>10 anni di rappresentazioni, 7 anni in pianta stabile al Teatro Metastasio di Assisi, oltre 400mila spettatori, riproposto in versione amatoriale da oltre 100 compagnie amatoriali in tutta Italia e all’estero:</p>
        <p>questi i numeri del successo di "Chiara di Dio", il musical dedicato alla santa di Assisi, scritto e diretto da Carlo Tedeschi che dopo 6 anni torna finalmente al Teatro Leo Amici del Lago di Montecolombo (Rimini) con rappresentazioni il 1°, 8, 15, 22 febbraio e 1 e 8 marzo.</p>
        <h4>La storia di “Chiara di Dio”</h4>
        <p>Lo scorso anno lo spettacolo, molto apprezzato sia per i contenuti religiosi che storiografici della vita di Chiara d’Assisi, ha festeggiato il decennale dal debutto al Liryck Theatre di Assisi, avvenuto nel maggio del 2004. Il musical, tuttora rappresentato in Assisi al Teatro Metastasio e che costituisce uno dei pochi esempi in Italia di spettacolo in pianta stabile per così tanto tempo, era stato richiesto dal Comune di Assisi e dai frati Francescani all’autore e regista Carlo Tedeschi, messo in scena dalla sua compagnia che aveva debuttato in occasione della ricorrenza dei 750 anni dalla morte di Santa Chiara nel 2004 ed eccezionalmente rappresentato l'11 agosto 2004 anche nel bellissimo scenario di San Damiano. Da quella rappresentazione è stata realizzato un dvd, distribuito anche da Famiglia Cristiana, del quale alcuni passaggi hanno ottenuto numerose visite sui canali web, in particolare You Tube.</p>
        <p>Nel corso degli anni il musical su Chiara di Assisi è stato visto da  centinaia di migliaia di persone e dal 9 agosto del 2008 viene rappresentato in pianta stabile al Teatro Metastasio. Alcuni brani dello spettacolo sono stati rappresentati anche in occasione della visita di Papa Francesco ad Assisi.
        <h4>Il musical</h4>
        <p>completamente dedicato alla figura e alla vita di Santa Chiara accanto a San Francesco, che avvalendosi delle Fonti Francescane storiche, “fa emergere – spiega lo stesso  regista e autore, Carlo Tedeschi - l'umanità e l'attualità di questi due giovani, Chiara e Francesco, un esempio per i ragazzi di oggi nonostante siano trascorsi otto secoli. Un modello di come uscire dagli schemi, con la forza e passione della gioventù senza compromettere la propria integrità. Esempio naturalmente da rapportare ed attualizzare ai mutati scenari dell’oggi”.</p>
        <p>Proprio per questa sua straordinaria attualità sono ormai oltre un centinaio le compagnie amatoriali che hanno rappresentato il musical, coinvolgendo oltre 5 mila giovani. Il regista e autore Carlo Tedeschi ha voluto dare loro la possibilità, fin da subito, di utilizzare basi e copioni, nonché le strutture del piccolo Paese del Lago di Monte Colombo (RN) ove si è formata la compagine teatrale fornendo collaborazioni nel montaggio del musical (coreografie, canti, recitati) e nella realizzazione di costumi e scenografie. Tutto questa operosità ha consentito anche di portare alla luce nuovi talenti.</p>
        <h4>La produzione</h4>
        <p>Nella sua riedizione, attraverso nuovi effetti, lo spettatore avrà la possibilità di vedere Chiara e Francesco nei luoghi dove hanno realmente vissuto. Queste scelte rendono la produzione capace di attualizzare il misticismo ed al contempo la concretezza della prima donna della storia della Chiesa che abbia dettato la regola del proprio ordine. Flash back, uno stile di recitazione del tutto particolare, musiche e canzoni originali per una regia cinematografica, rendono il musical altamente suggestivo e coinvolgente.</p>
        <h4>La trama</h4>
        <p>Un vecchio spiega l’esigenza di raccontare la vita di Santa Chiara, utilizzando le parole di Papa Giovanni Paolo II, dice che “è veramente difficile disgiungere questi due nomi, Francesco e Chiara”. Li definisce “fenomeni”, “leggende”. Lo spettacolo inizia con Chiara morente, intorno a lei le consorelle piangenti. Chiara sfinita, chiede “una cerasa”, una ciliegia. Lei abituata ai digiuni, domanda, con una umanità straordinaria, qualcosa per sé. Agnese invia di corsa una sorella nel chiostro ma siamo in agosto e non è stagione di ciliegie e, nei pochi minuti che separano questa richiesta di Chiara dal ritorno della consorella (che arriverà miracolosamente con la ciliegia tra le dita), scorrono il primo ed il secondo tempo, con gli avvenimenti più toccanti della sua vita: l’incontro con Francesco, la fuga da casa, il taglio dei capelli per la sua consacrazione, lo spettacolare confronto con i Saraceni.</p>
        <h4>PROGRAMMAZIONE SPETTACOLO</h4>
        <h5><a href="http://teatroleoamici.it">Teatro Leo Amici -  Lago di Montecolombo (Rimini)</a></h5>
        <p>con rappresentazioni il 1°, 8, 15,  22 febbraio e 1 e 8 marzo</p>
        <p>prenotazioni e info: 0541-981633  info@teatroleoamici.it  </p>
        <h5><a href="http://teatrometastasio.it">Teatro Metastasio – Assisi</a></h5>
        <p>rappresentazioni a richiesta per gruppi superiori alle 40 persone</p>
        <p>prenotazioni e info:  Piazzetta Verdi, 1 - ASSISI (PG),  </p>
        <p>Tel. 075 815381 <br />
            <a href="mailto:metastasiomusical@alice.it">metastasiomusical@alice.it</a></p>
    </div>
</div>
